<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
     <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="ICSharpCode.XamlDesigner.Configuration.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
     </sectionGroup>
 </configSections>
<userSettings>
  <ICSharpCode.XamlDesigner.Configuration.Settings>
    <setting name="MainWindowRect" serializeAs="String">
      <value>0,0,0,0</value>
    </setting>
    <setting name="AvalonDockLayout" serializeAs="String">
      <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;LayoutRoot&gt;
  &lt;RootPanel Orientation="Horizontal"&gt;
    &lt;LayoutPanel Orientation="Horizontal"&gt;
      &lt;LayoutPanel Orientation="Horizontal" DockHeight="1.05701504319986*"&gt;
        &lt;LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="280"&gt;
          &lt;LayoutAnchorablePane DockWidth="280" DockHeight="6*"&gt;
            &lt;LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Toolbox" IsSelected="True" ContentId="Toolbox" CanClose="False" /&gt;
          &lt;/LayoutAnchorablePane&gt;
          &lt;LayoutAnchorablePane DockHeight="3*"&gt;
            &lt;LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Outline" IsSelected="True" ContentId="Outline" CanClose="False" /&gt;
          &lt;/LayoutAnchorablePane&gt;
        &lt;/LayoutAnchorablePaneGroup&gt;
        &lt;LayoutDocumentPaneGroup Orientation="Horizontal"&gt;
          &lt;LayoutDocumentPane&gt;
            &lt;LayoutDocument Title="New1" IsSelected="True" IsLastFocusedDocument="True" LastActivationTimeStamp="07/08/2018 11:20:21" /&gt;
          &lt;/LayoutDocumentPane&gt;
        &lt;/LayoutDocumentPaneGroup&gt;
        &lt;LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="280"&gt;
          &lt;LayoutAnchorablePane DockWidth="280" DockHeight="0.434261617468999*" FloatingWidth="290" FloatingHeight="285" FloatingLeft="1625" FloatingTop="163"&gt;
            &lt;LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Thumbnail" IsSelected="True" ContentId="Thumbnail" FloatingLeft="1625" FloatingTop="163" FloatingWidth="290" FloatingHeight="285" CanClose="False" LastActivationTimeStamp="07/08/2018 11:18:44" /&gt;
          &lt;/LayoutAnchorablePane&gt;
          &lt;LayoutAnchorablePane DockHeight="1.565738382531*"&gt;
            &lt;LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Properties" IsSelected="True" ContentId="Properties" CanClose="False" /&gt;
          &lt;/LayoutAnchorablePane&gt;
        &lt;/LayoutAnchorablePaneGroup&gt;
      &lt;/LayoutPanel&gt;
    &lt;/LayoutPanel&gt;
    &lt;LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="25" DockHeight="149" FloatingWidth="290" FloatingHeight="229" FloatingLeft="816" FloatingTop="1137"&gt;
      &lt;LayoutAnchorablePane Id="b34155a2-262a-49a6-a4ca-cb01e2684268" DockHeight="149" FloatingWidth="290" FloatingHeight="229" FloatingLeft="816" FloatingTop="1137" /&gt;
    &lt;/LayoutAnchorablePaneGroup&gt;
  &lt;/RootPanel&gt;
  &lt;TopSide /&gt;
  &lt;RightSide&gt;
    &lt;LayoutAnchorGroup&gt;
      &lt;LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Behaviors" ContentId="Behaviors" CanClose="False" /&gt;
    &lt;/LayoutAnchorGroup&gt;
    &lt;LayoutAnchorGroup&gt;
      &lt;LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Triggers" ContentId="Triggers" CanClose="False" /&gt;
    &lt;/LayoutAnchorGroup&gt;
  &lt;/RightSide&gt;
  &lt;LeftSide /&gt;
  &lt;BottomSide&gt;
    &lt;LayoutAnchorGroup PreviousContainerId="b34155a2-262a-49a6-a4ca-cb01e2684268"&gt;
      &lt;LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Errors" ContentId="Errors" FloatingLeft="816" FloatingTop="1137" FloatingWidth="290" FloatingHeight="229" CanClose="False" LastActivationTimeStamp="07/08/2018 11:20:02" /&gt;
    &lt;/LayoutAnchorGroup&gt;
  &lt;/BottomSide&gt;
  &lt;FloatingWindows /&gt;
  &lt;Hidden /&gt;
&lt;/LayoutRoot&gt;</value>
    </setting>
    <setting name="MainWindowState" serializeAs="String">
      <value>Maximized</value>
    </setting>
  </ICSharpCode.XamlDesigner.Configuration.Settings>
 </userSettings>
</configuration>