<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net45" />
  <package id="DotNetProjects.AvalonDock" version="3.2.49" targetFramework="net45" />
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net45" />
</packages>